<div *ngIf="data" class="card card-body m-3 list-color">
	<div *ngFor="let item of pagedData" class="card card-body mb-3 clickable">
		<div class="d-flex justify-content-between" (click)="goToDetail(item.id)">
			<div class="text-title">
				{{item.name}}
			</div>
			<div>
				<img class="image-size" src={{item.img_url}}>
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-center">
		<ul *ngIf="pager.pages && pager.pages.length" class="pagination" [ngClass]="{disabled:pager.currentPage === 1}">
			<li class="page-item paginator">
				<a class="page-link" (click)="setPage(1)">First</a>
			</li>

			<li *ngFor="let page of pager.pages" class="page-item paginator"
				[ngClass]="{active:pager.currentPage === page}">
				<a class="page-link" (click)="setPage(page)">{{page}}</a>
			</li>

			<li class="page-item paginator" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
				<a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
			</li>
		</ul>
	</div>
</div>