<div class="card card-body m-3">
	<div class="font-weight-bold">Final Space</div>
	<div>
		Final Space is an American animated space opera comedy-drama television series created by Olan Rogers for TBS and
		Cartoon Network's late-night programming block, Adult Swim.
		The series involves a prisoner named Gary Goodspeed and his alien friend, Mooncake, and focuses on their
		intergalactic adventures as they try to solve the mystery of the titular "Final Space".
		
		The series premiered on TBS on February 26, 2018 and was renewed for a second season on May 7, 2018.
		In June of 2019, Final Space moved to Adult Swim while Season 2 premiered on June 24, 2019 on Adult Swim, with TBS
		airing an encore the following week.
		The show was renewed for a third season a week after the second finished airing. Season 3 premiered on March 20,
		2021.
	</div>
</div>
<div class="card card-body m-3">
	<div class="font-weight-bold">Plot</div>
	<div>
		Gary Goodspeed is a boisterous yet inept astronaut who, in the midst of working off the last few days of his
		five-year sentence aboard the prison spacecraft Galaxy One, encounters a mysterious planet-destroying alien. He
		befriends the alien, naming him Mooncake, and then discovers that Mooncake is wanted by the forces of a powerful
		telekinetic creature known as the Lord Commander. Gary and Mooncake embark on a quest to save the universe, together
		with the ship's computer HUE, an army of similar but unfalteringly loyal robots, and a growing crew of new
		shipmates—all while trying to uncover the mystery of what "Final Space" really is.
	</div>
</div>