<div class="card card-body m-3">
    <div class="d-flex justify-content-between">
        <div>
            <div>{{character.name}}</div>
            <div>Status: {{character.status }}</div>
            <div>Specie: {{character.species }}</div>
            <div>Gender: {{character.gender }}</div>
            <div>Hair: {{character.hair }}</div>
            <div>Origin: {{character.origin }}</div>
            <div>Aliases:
                <li *ngFor="let val of character.alias">{{val}}</li>
            </div>
            <div>Abilities:
                <li *ngFor="let val of character.abilities">{{val}}</li>
            </div>
        </div>
        <img class="image-size"src="{{character.img_url}}">
    </div>
</div>